<div class="dummy-hand">
    <div class="hand" data-bind="hand: {flow: 'vertical', spacing: 0.2, width: 60, cards: hand.cardsWithSuit('S') }"></div>
    <div class="hand" data-bind="hand: {flow: 'vertical', spacing: 0.2, width: 60, cards: hand.cardsWithSuit('H') }"></div>
    <div class="hand" data-bind="hand: {flow: 'vertical', spacing: 0.2, width: 60, cards: hand.cardsWithSuit('D') }"></div>
    <div class="hand" data-bind="hand: {flow: 'vertical', spacing: 0.2, width: 60, cards: hand.cardsWithSuit('C') }"></div>
</div>
