<style>

    .bridge-table {
        position: relative;
        border: 1px solid #ccc;
        padding: 2px;
        margin: 2px;
        width: 720px;
        height: 500px;
        text-align: center;
        font-weight: bold;
        background-color: forestgreen;
    }

    .inline-block {
        display: inline-block;
    }

    .lho {
        position: relative;
        top: 50%;
        left: 3%;
        transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
    }

    .rho {
        position: relative;
        top: 40%;
        left: 97%;
        transform:  translateX(-50%)  rotate(90deg);
    }

    .player {
        position: absolute;
        bottom: 0;
        margin: 0 auto;
        width: 90%;
    }

    .partner {
        margin: 0 auto;
    }

    #bidding-box {
        margin-left: 3em;
        margin-bottom: 0;
        background-color: white;
        font-size: larger;
    }

    #auction {
        background-color: white;
        font-size: larger;
        position: absolute;
        top: 30%;
        left: 40%;
    }

    .board-info {
        margin-top: -3.2ex;
        text-align: left;
        font-weight: normal;
    }

    /*
     * xs (extra small, phone) adjustments.
     */
    @media only screen and (max-width: 768px) {
        .bridge-table {
            background-color: darkseagreen;
            position: absolute;
            left: -1px;
            width: 100vw;
            height: 87vh;
        }
        #bidding-box {
            position: fixed;
            top: 35vh;
            display: block;
            right: 8vw;
        }
        #auction {
            position: fixed;
            top: 35vh;
            left: 8vw;
        }
    }
</style>



<div class="bridge-table">
    <div class='board-info'>
        Board <span data-bind='text: board().number'></span> -
        Dealer <span data-bind='text: dealer'></span>,
        <span data-bind="if: nsVulnerable()" style="color: red">NS vuln,</span>
        <span data-bind="ifnot: nsVulnerable()">NS not vuln,</span>
        <span data-bind="if: ewVulnerable()" style="color: red">EW vuln</span>
        <span data-bind="ifnot: ewVulnerable()">EW not vuln</span>
    </div>

    <div class="partner">partner</div>

    <div class="player">
        <div class='hand inline-block'
            data-bind='click: play, fan: {radius: 141, spacing: 0.2, width: 88, cards: cards}'>
        </div>
        <bidding-box id='bidding-box'
            class='inline-block panel panel-default'
            data-bind='visible: bidding()'
            params="bids: bids">
        </bidding-box>
    </div>

    <div id='auction' class='inline-block panel panel-default'>
        <bids params="dealer: dealer, bids: bids"></bids>
    </div>

    <div class="lho">lho</div>
    <div class="rho">rho</div>
</div>

