<style>

    .bridge-table {
        position: relative;
        border: 1px solid #ccc;
        padding: 2px;
        margin: 2px;
        height: 500px;
        background-color: forestgreen;
    }

    .inline-block {
        display: inline-block;
    }

    .lho {
        position: relative;
        top: 50%;
        left: 3%;
        transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
    }

    .rho {
        position: relative;
        top: 40%;
        left: 97%;
        transform:  translateX(-50%)  rotate(90deg);
    }

    .player {
        position: absolute;
        bottom: 0;
        margin: 0 auto;
        width: 90%;
        text-align: center;
    }

    .partner {
        margin: 0 auto;
        text-align: center;
    }

    .bidding, .partner {
        padding-top: 5px;
    }

    #bidding-box {
        background-color: white;
        font-size: larger;
    }

    #auction {
        background-color: white;
        font-size: larger;
    }

    .board-info {
        margin-top: -3.2ex;
        text-align: left;
        font-weight: normal;
    }

    /*
     * xs (extra small, phone) adjustments.
     */

    @media only screen and (max-width: 768px) {
        .bridge-table {
            background-color: darkseagreen;
            margin-left: -15px;
            width: 100vw;
            height: 87vh;
        }
</style>


<div class="row">
    <div class="col-sm-6 bridge-main">
        <div class="bridge-table">
            <div class='board-info'>
                Board <span data-bind='text: board().number'></span> -
                Dealer <span data-bind='text: dealer'></span>,
                <span data-bind="if: nsVulnerable()" style="color: red">NS vuln,</span>
                <span data-bind="ifnot: nsVulnerable()">NS not vuln,</span>
                <span data-bind="if: ewVulnerable()" style="color: red">EW vuln</span>
                <span data-bind="ifnot: ewVulnerable()">EW not vuln</span>
            </div>

            <div class="partner" data-bind="if: playing()">
                <dummy-hand class='inline-block' params="board: board, contract: contract"></dummy-hand>
            </div>

            <div class="row bidding" data-bind='visible: bidding()'>
                <div class='col-xs-5'>
                <div id='auction' class='inline-block panel panel-default'>
                    <bids params="dealer: dealer, bids: bids"></bids>
                </div>
                    </div>
                <div class='col-xs-7'>
                <bidding-box id='bidding-box'
                    class='inline-block panel panel-default'
                    params="bids: bids">
                </bidding-box>
                    </div>
            </div>

            <div class="player">
                <div class='hand inline-block'
                    data-bind='click: play, fan: {radius: 141, spacing: 0.2, width: 88, cards: cards}'>
                </div>
            </div>

            <div class="lho">lho</div>
            <div class="rho">rho</div>
        </div>
    </div>

    <div class="col-sm-6 bridge-sidebar">
        <h2>Info</h2>
        Some random text heere.
    </div>
</div>
