#page {
    margin-top: 80px;
}

table.bids th {
    width: 1.8em;
    text-align: center;
}

table.bids thead {
    border-bottom: 1px solid silver;
}

table.bids td {
    text-align: center;
}

.bids .pass {
    color: lightsteelblue;
}
.bids .double,
.bids .redouble {
    font-weight: bold;
}

.bidding-box {
    border-collapse: separate;
    line-height: 1.0;
}
.bidding-box  td {
    background-image: none;
    border: 1px solid transparent;
    cursor: default;
    opacity: 0.3;
    text-align: center;
    padding: 2px;
	pointer-events: none;
}
.bidding-box td.bidable {
    opacity: 1;
}
.bidding-box.enabled td.bidable {
    cursor: pointer;
	pointer-events: auto;
}
.bidding-box.enabled td.bidable:hover,
.bidding-box.enabled td.bidable:focus {
    background-color: #EBFFD6;
    border: 1px solid lime;
    border-radius: 4px;
    font-weight: bold;
}

.trick-box {
	display: inline-block;
	vertical-align: top;
	position: relative;
}
.trick-box .card { 
	position: absolute;
}


.red-suit {
    color: red;
}
