#page {
    margin-top: 80px;
}

table.bids th {
    width: 1.8em;
    text-align: center;
}

table.bids thead {
    border-bottom: 1px solid silver;
}

table.bids td {
    text-align: center;
}

.bids .double,
.bids .redouble {
    font-weight: bold;
}

.bidding-box {
    border-collapse: separate;
    line-height: 1.0;
}
.bidding-box  td {
    background-image: none;
    border: 1px solid transparent;
    cursor: default;
    opacity: 0.08;
    text-align: center;
    padding: 2px;
	pointer-events: none;
}
.bidding-box td.bidable {
    opacity: 1;
}
.bidding-box.enabled td.bidable {
    cursor: pointer;
	pointer-events: auto;
}
.bidding-box.enabled td.bidable:hover,
.bidding-box.enabled td.bidable:focus {
    background-color: #EBFFD6;
    border: 1px solid lime;
    border-radius: 4px;
    font-weight: bold;
}
.bidding-box .club { color: green; }
.bidding-box .diamond { color: orange; }
.bidding-box .heart { color: red; }
.bidding-box .spade { color: blue; }
.bidding-box .no-trump { color: black; }

.trick-box {
	display: inline-block;
	vertical-align: top;
	position: relative;
}
.trick-box .card { 
	position: absolute;
}

.black-suit {
    color: black;
}

.red-suit {
    color: red;
}

/*
 * Styles for card-play.
 */
table.card-play {
    border-collapse: separate;
    line-height: 1.2;
}

table.card-play th {
    width: 2em;
    text-align: center;
    margin-bottom: 3px;
}

table.card-play th {
    border-bottom: 1px solid silver;
}


table.card-play td {
    border: 1px solid transparent;
    text-align: center;
    padding: 1px;
}

table.card-play td.leader {
    text-decoration: underline;
}

table.card-play td.winner {
    background-color: #EBFFD6;
    border: 1px solid lime;
    border-radius: 4px;
    font-weight: bold;
}

/*
 * Styles for a bridge table
 */
.board-info {
    margin-top: -25px;
}
.bridge-table {
    position: relative;
    border: 1px solid #ccc;
    padding: 2px;
    margin: 2px;
    height: 500px;
    background-color: forestgreen;
    overflow: hidden;
}

.inline-block {
    display: inline-block;
}

.lho {
    display: block;
    position: relative;
    left: 10px;
    top: 40%;
    -webkit-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);
}
.lho .hand {
    display: block !important;
    margin-top: -75% !important;
}
.lho .hand:first-child {
    margin-top: 0 !important;
}

.rho {
    display: block;
    position: absolute;
    right: 10px;
    top: 40%;
    -webkit-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);
}
.rho .hand {
    display: block !important;
    margin-top: -75% !important;
}
.rho .hand:first-child {
    margin-top: 0 !important;
}

.player {
    position: absolute;
    bottom: -80px;
    margin: 0 auto;
    width: 90%;
    text-align: center;
}

.partner {
    margin: 0 auto;
    text-align: center;
}

.bidding, .partner {
    padding-top: 5px;
}

.table-panel {
    background-color: white;
    font-size: larger;
}

/*
 * xs (extra small, phone) adjustments.
 */

@media only screen and (max-width: 768px) {
    .bridge-table {
        background-color: darkseagreen;
        margin-left: -15px;
        width: 100vw;
        height: 87vh;
    }
